*{
    margin: 0;
    padding: 0;
}



.sidebar{
    background-color: red;
    width: 20vw;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    background-color: yellow;
    width: 80vw;
}
.container{
    display: flex;
}